<html>
<head>
<title>integration test!</title>
<link rel="stylesheet" type="text/css" href="<%= routes["/assets/application.css"].url_path %>">
<script type="text/javascript" src="<%= routes["/assets/application.js"].url_path %>"></script>
</head>
<body>
<%= yield %>
</body>
</html>
